.right-part{
  background-color: #f4f4f4;
  height: auto;
  border-radius: 0 0 20px 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}
.button-wrapper{
  position: sticky;
  top: -42px;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
}
.filter-text{
  background-color: #188452;
  display: inline-block;
  color: #fff;
  padding: 3px 7px;

}